/* Style Main */
.container {
    margin: 0px;
    padding: 0px;
}


/* Style Navbar */
.navbar {
    align-items: flex-start;
}

.nav-table {
    height: 100vh;
    margin-left: 15px;
    margin-top: 15px;
}


.navbar a {
    color: rgb(67, 64, 64);
    font-weight: 400;
    font-size: 18px;
}

.navbar-brand {
    padding: 10px;
    padding-left: 40px;
}

.dropdown-item  {
    width: 25vh;
}

.active {
    background-color: rgb(195, 197, 197) !important;
}

hr {
    margin: 0px;
    padding: 0px;
}

.dropdown-divider {
    margin-bottom: 10px;
    margin-top: 0px;
}

.recipes {
    margin-bottom: 17px;
}


/* LUKAS style file*/



        .my-custom-row{
            background-color: white;
            height: 40px;
        }

        .icon-style{
            margin-top: 30px;
            color: rgba(187, 111, 13, 0.397);
        
        }

            .pencil{
                margin-right: 20px;
            }

            .list{
                margin-right: 20px;
            }

            .pencil{
                margin-right: 20px;
            }

            .calendar{
                margin-right: 20px;
            }

            .enhance{
                margin-right: 20px;
            }

            .favorite{
                margin-right: 20px;
            }

            .share{
                margin-right: 20px;
            }

            .safe{
                margin-right: 20px;
            }

            .trash{
                margin-right: 20px;
            }

            .settings{
                margin-left: 20px;
            }

